@font-face { font-family: 'BRRA_R'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRRA_R.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
html,body{font-family: 'BRRA_R';margin: 0;padding: 0;height: 100%;background-color: #eceff1;}
.header{text-align: center;background-color: #fff;color: #fff;background-color: #009688;}
.header h1{margin: 0;padding: 10px 0;}
.header a{text-decoration: none;color: #fff;}
.content {
	margin: auto;
	max-width: 800px;
    min-width: 0;
    display: block;
    background-color: #fff;
    box-shadow: 0 3px 6px -3px #bdbdbd;
    padding: 20px 30px;
    position: relative;
    overflow: auto;
    border: 1px solid #e0e5ee;
    border-radius: 5px;
    margin-bottom: 20px;
}
.wrap {
    position: relative;
    width: 100%;
    top: 27px;
}
.search input {
    padding: .4em 1em;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    margin-right: 10px;
}
#searchicon {
    font-size: 24px;
    cursor: pointer;
    vertical-align: sub;
}
.search ul{
	list-style: none;
	padding-left: 15px;
}
.search ul li{
	padding: 5px;
	margin: 10px 0;
	cursor: pointer;
}
.search ul li:hover{
	background-color: #eee;
}
#sortable_filter{
	color: #fff;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    float: none;
    text-align: left;
}
#sortable_filter input{
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 2px;
}
#loading{
	background-color: #333;
    color: #fff;
    padding: 20px;
}